- if License.feature_available?(:external_authorization_service)
  %fieldset
    %legend
      = _('External Classification Policy Authorization')
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :external_authorization_service_enabled do
            = f.check_box :external_authorization_service_enabled
            Enable classification control using an external service
        %span.help-block
          If enabled, access to projects will be validated on an external service
          using their classification label.
          = link_to icon('question-circle'), help_page_path('#')
    .form-group
      = f.label :external_authorization_service_url, _('Service URL'), class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :external_authorization_service_url, class: 'form-control'
    .form-group
      = f.label :external_authorization_service_default_label, _('Default classification label'), class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :external_authorization_service_default_label, class: 'form-control'
